:root {
  --bg: #ffffff;
  --bgDark: #191919;
  --text: rgb(46, 84, 150);
  --textDark: #acbfff;
  --highlight: rgb(204, 215, 235);
} 
::selection {
  background-color: var(--highlight);
}
body {
  padding-left: 0.5em;
  font-size: 1.1em;
  line-height: 1.3em;
  min-width: 700px;
  min-height: 500px;
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 0.2s ease, color 0.2s ease;
}
a {
  color: inherit;
  text-decoration: underline 0.05em dashed;
}