:root {
  --bg: #ffffff;
  --text: rgb(19, 51, 105);
  --highlight: rgb(188, 200, 220);
}
::selection {
  background-color: var(--highlight);
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'YonseiFont';
}
a:link, a:visited {
  color: inherit;
}