:root {
  --bg: #ffffff;
  --bgDark: #191919;
  --text: #3e5496;
  --textDark: #acbfff;
  --highlight: #848f9d;
  --highlightDark: #464952;
} 
body {
  padding-left: 0.5em;
  font-size: 1.1em;
  line-height: 1.3em;
  min-width: 700px;
  min-height: 500px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
a {
  color: inherit;
  text-decoration: underline 0.05em dashed;
}
a span {
  transition: 0.3s ease;
}
a span:hover {
  background-color: var(--highlightDark);
}